{% extends 'base/pan_con_queso.html' %}

{% block arroz_con_pollo %}
{% load static %}

<section id="inventario">
    <h2 class="h2">Inventario</h2>
    <a href="{% url 'Productos' %}">
        <div class="categoria-nuevo" style="margin: 20px; text-align: center; margin-left: 350px">
            <h3>Productos Nuevos</h3>
            <ul>
                <li>{{productos_nuevos}}</li>
            </ul>
        </div>
    </a>
    <div class="categoria-vip" style="margin: 0 auto; text-align: center;">
        <h3>Productos en Promoción</h3>
        <ul>
            <li>{{productos_promocion}}</li>
        </ul>
    </div>
    
    <h3 class="h3" style="font-size: 2.5em; color: #4CAF50; margin: 0px; text-align: center; margin-top: 30px;">Últimos Productos Registrados</h3>

    <form method="get" action="{% url 'inventario' %}" style="position: relative; margin: 35px 130px; margin-bottom: -20px;">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Buscar productos..." value="{{ request.GET.q }}" style="height: 25px; padding: 5px; width: 300px;">
        <button type="submit" style="height: 25px; padding: 5px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">Buscar</button>
    </form>

    <table>
        <thead>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Código</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Nombre</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Precio</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Cantidad</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Fecha de Creación</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Promoción</th>
            <th style="background-color: #4CAF50; color: white; padding: 10px; text-align: left; border: 1px solid #ddd">Estado</th>
        </thead>
        <tbody id="inventory-table-body">
            {% if productos %}
                {% for p in productos %}
                    <tr>
                        <td>{{p.Codigo}}</td>
                        <td>{{p.Nombre}}</td>
                        <td>{{p.Cantidad}}</td>
                        <td>{{p.Precio}}</td>
                        <td>{{p.Fecha_creacion}}</td>

                        {% if p.promocion == 1 %}
                            <td style="background: blue; color: white;">En Promoción</td>
                        {% else %}
                            <td style="background: gray; color: white;">No en Promoción</td>
                        {% endif %}

                        {% if p.Cantidad > 10 %}
                            <td style="background: green; color: white;">En Stock</td>
                        {% elif p.Cantidad > 0 %}
                            <td style="background: orange; color: white;">Bajo Stock</td>
                        {% else %}
                            <td style="background: red; color: white;">Agotado</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td colspan="4">No hay registros disponibles</td>
                    </tr>
            {% endif %}
        </tbody>
    </table>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="salir">Cerrar sesión</button>
    </form>
</section>
{% endblock %}